/*Created by huangyaozu 2019/10/26*/

.lt-nav{
   padding: 10px;
}
.lt-nav li{
    float: left;
    width: 33.3%;
}
.lt-nav li a{
    display: block;
}
.lt-nav li a img{
    display: block;
    width: 100%;
}
