.item-box{
    /*height:42px;*/
    padding: 10px;
    border-top: 1px solid #ccc;
}
.price{
    color: red;
}
.oldPrice{
    color: #666;
    text-decoration: line-through;
    font-size: 12px;
}
.lt-size span{
    width: 25px;
    height:25px;
    text-align: center;
    line-height: 25px;
    display:inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    margin:3px 0;
}
.lt-size span.current{
    background-color: orange;
}
.lt-num span{
    font-size: 12px;
    color: #666;
}

.lt-go-cart{
    position:absolute;
    left: 0;
    bottom: 0;
    height: 55px;
    width:100%;
    border-top: 1px solid red;
    background-color: #EFEFF4;
    padding: 10px;
}
.lt-go-cart a{
    padding: 5px;
}